@media only screen and (max-width:500px){
  .Projektit-tehtavat{
    display: flex;
    flex-direction: column;
  }
  .Projekti{
    flex-direction: column;
  }
  .TheForm{
    flex-wrap: wrap;
  }
}

body{
  background-color: #282c34;
}


.DisplayForm{
  background-color: #333538;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
}

.DisplayForm:hover{
  text-decoration: underline;
}

.NewNote{
  display:flex;
  height: 5em;
  flex-direction: row;
  max-height: 2.5em;
  padding-bottom: 1em;
}

.TheForm{
  display: flex;
  text-align: center;
  border:outset;
  font-size: inherit;
  max-width: 100%;
  justify-content: stretch;
}

.TheForm-kuvaus{
  display: flex;
  text-align: center;
  border:outset;
  font-size: inherit;
  width: 20em;
}

.TheForm-nimi{
  margin-left: 2em;
}

.TheForm-submit{
  display: flex;
  text-align: center;
  border:outset;
  font-size: inherit;
  max-width: 20em;
}


.Header-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
}

.Header{
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  margin-bottom: 1em;
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  min-height: 50px;
}

.Header-items{
  padding-left: 3em;
}


.Header-button:hover{
  text-decoration: underline;
}

.Header-button:active{
  box-shadow: none;
}

.Projekti{
  display: flex;
  flex-direction: column;
  max-width: 20em;
  min-width: 5em;
}

.Projekti-nimi{
  background-color: #333538;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
}

.Projektit-tehtavat{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 2em;
}


.Projekti-otsikot{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Projekti-Osio{
  display: flex;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  height: 3em;
  max-width: 20em;
}

.Projekti-nimi:hover{
  text-decoration: underline;
}

.Tehtava{
  display: flex;

  margin-left: 2em;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
}

.NoJobs{
  display: flex;
  justify-content: center;
}

.Poista{
  align-self: center;
  background-color: #333538;
  color:azure;
  text-align: right;
  border:none;
  font-size: inherit;
}

.Projekti-Poista{
  align-self: center;
  background-color: #333538;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
  border-right: outset;
}
.Poista:hover{
  text-decoration: underline;
}


.Otsikot{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Osio{
  background-color: #333538;
  list-style-type: none;
  display: flex;
  justify-content:baseline;
  max-height: 300px;
}

.Osio-light{
  background-color: #515458;
}

.Osio-item{
  border-right: outset;
  padding-right: 1em;
  margin-left: 1em;
}

.Osio-poista{
  margin-right: 1em;
}

.Back-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #55595f;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
}

.text-button{
  background-color: #55595f;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
  margin-left: 1em;
  margin-right: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  color: azure;
  max-width: 1500px;
}