@media only screen and (max-width:1200px){
  .Projektit-tehtavat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3em;
  }
  
  .Projekti{
    display: flex;
  }

  .Tehtava{
    flex-direction: row-reverse;
  }

  .Osio{
    flex-direction: column;
    flex-wrap:nowrap;
    margin-left: 0%;
  }

  .Osio-item{
    
  }
}

@media only screen and (max-width: 450px){
  .FormDiv{
    margin-bottom: 2em;
    max-width: 20em;
  }

  .Projekti-otsikot{
    margin-top: 2em;
  }
}

body{
  background-color: #282c34;
}


.DisplayForm{
  background-color: #333538;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
  padding-left: 0 !important;
}

.DisplayForm:hover{
  text-decoration: underline;
}

.FormDiv{
  display: flex;
  max-width: 20em;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}

.NewNote{
  display:flex;
  height: 100%;
  padding-bottom: 1em;
  flex-direction: column;
}

.TheForm{
  display: flex;
  text-align: left;
  border:outset;
  font-size: inherit;
  max-width: 100%;
  height: 2em;
  justify-content: stretch;
}

.TheForm-submit{
  display: flex;
  text-align: center;
  margin-top: 1.5em;
}

.TheForm-kuvaus{
  height: 4em;
  text-align: start;
}


.Header-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
  padding-left:0em;
}

.Header{
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  margin-bottom: 1em;
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  min-height: 50px;
}

.Header-items{
  margin-right: 2em;
  padding-left: 2em;
}


.Header-button:active{
  box-shadow: none;
}

.Projekti{
  display: flex;
  flex-direction: column;
  max-width: 20em;
  min-width: 5em;
  margin-left:2em;
}

.Projekti-nimi{
  background-color: #333538;
  color:azure;
  border:none;
  font-size: inherit;
  min-width: 162px;
  max-width: 10em;
}

.Projektit-tehtavat{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}


.Projekti-otsikot{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Projekti-Osio{
  display: flex;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  min-height: 3em;
  padding-bottom: 1em;
  padding-top:1em;
  max-width: 20em;
}

.Projekti-nimi-div{
  display: flex;
  flex-wrap: wrap;
  min-width: 162px;
}

.Tehtava{
  flex: 20;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
  min-height: 1em ;
  margin-bottom: 1em;
}

.NoJobs{
  display: flex;
  justify-content: center;
}

.Poista{
  align-self: center;
  background-color: #333538;
  color:azure;
  text-align: right;
  border:none;
  font-size: inherit;
}

.Projekti-Poista{
  align-self: center;
  background-color: #333538;
  color:rgb(255, 49, 49);;
  text-align: center;
  border:none;
  font-size: inherit;
  border-right: outset;
  border-color: azure;
}
.Poista:hover{
  text-decoration: underline;
}


.Otsikot{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.OtsikkoJob{
  display: flex;
  border:none;
  background-color: #56595c;
  color:azure;
  font-size: inherit;
  padding: 0;
}

.OtsikkoJob:hover{
  text-decoration: underline;
}

.Osio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #333538;
  box-shadow: 3px 3px #212224;
}

.Osio-light{
  background-color: #515458;
}

.Osio-item{
  display: flex;
  flex: 5;
  flex-direction: column;
  min-width: 8em;
  padding-right: 2em;
  border-right:outset;
  border-bottom: outset;
  margin-left: 1em;
  flex-wrap: wrap;
}

.Osio-poista{
  display: flex;
  border: none;
  color:rgb(255, 49, 49);
  margin-top: 2.1em;
  padding-bottom: 1em;
}

.Separator{
  display: flex;
  border-bottom: outset;
  flex-direction: row;
  width: max-content;
  padding-top: 2em;
}

.Back-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5em;
  height: 3em;
  background-color: #55595f;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
}

.text-button{
  background-color: #55595f;
  box-shadow: 3px 3px #212224;
  color:azure;
  text-align: center;
  border:none;
  font-size: inherit;
  margin-left: 1em;
  margin-right: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  color: azure;
  max-width: 2000px;
}